body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "opensans-bold";
  src: local("opensans-bold"), url('./fonts/opensans/OpenSans-Bold-webfont.ttf') format("truetype");
  font-weight: bold;

  font-family: "opensans-regular";
  src: local("opensans-regular"), url('./fonts/opensans/OpenSans-Regular-webfont.ttf') format("truetype");

  font-family: "opensans-light";
  src: local("opensans-light"), url('./fonts/opensans/OpenSans-Regular-webfont.ttf') format("truetype");
  font-weight: lighter;
}